/* @import './theme/base.css';*/
@import './theme/light.css';

* {
  box-sizing: border-box;
  /* font-family: 'Lato',
    sans-serif; */
  font-family: 'Poppins',
    sans-serif;

}

/* body {
  background-color: var(--background-color);
} */

.vertical-padding-container {
  padding-top: 15px;
  padding-bottom: 15px;
  /* padding-left: 30px;
  padding-right: 30px; */
}